spec/definition/managedpayment-schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema">
      <s:element name="CreateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Suburb" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerRef" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="JobDesc" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CCNumber" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CCNameOnCard" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="CCExpiryMonth" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="CCExpiryYear" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateCustomerResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eWAYHeader" type="eWAYHeader"/>
      <s:complexType name="eWAYHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="eWAYCustomerID" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
        </s:sequence>
        <s:anyAttribute/>
      </s:complexType>
      <s:element name="UpdateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="managedCustomerID" type="s:long"/>
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Suburb" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerRef" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="JobDesc" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CCNumber" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CCNameOnCard" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="CCExpiryMonth" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="CCExpiryYear" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCustomerResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="managedCustomerID" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryCustomerResult" type="CreditCard"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreditCard">
        <s:complexContent mixed="false">
          <s:extension base="ManagedCustomer">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CCName" type="s:string"/>
              <s:element minOccurs="0" maxOccurs="1" name="CCNumber" type="s:string"/>
              <s:element minOccurs="0" maxOccurs="1" name="CCExpiryMonth" type="s:string"/>
              <s:element minOccurs="0" maxOccurs="1" name="CCExpiryYear" type="s:string"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ManagedCustomer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ManagedCustomerID" type="s:long"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerRef" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerTitle" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerFirstName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerLastName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerCompany" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerJobDesc" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerEmail" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerAddress" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerSuburb" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerState" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPostCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerCountry" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPhone1" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPhone2" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerFax" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerURL" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerComments" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="QueryCustomerByReference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerReference" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCustomerByReferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryCustomerByReferenceResult" type="CreditCard"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="managedCustomerID" type="s:long"/>
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="invoiceReference" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="invoiceDescription" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ewayResponse" nillable="true" type="CCPaymentResponse"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CCPaymentResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ewayTrxnError" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ewayTrxnStatus" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ewayTrxnNumber" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ewayReturnAmount" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ewayAuthCode" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessPaymentWithCVN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="managedCustomerID" type="s:long"/>
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="invoiceReference" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="invoiceDescription" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="cvn" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessPaymentWithCVNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ewayResponse" nillable="true" type="CCPaymentResponse"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="managedCustomerID" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryPaymentResult" type="ArrayOfManagedTransaction"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfManagedTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ManagedTransaction" nillable="true" type="ManagedTransaction"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ManagedTransaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="ResponseText" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="ewayTrxnNumber" type="s:int"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
