spec/definition/managedpayment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.eway.com.au/gateway/managedpayment" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://www.eway.com.au/gateway/managedpayment" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.eway.com.au/gateway/managedpayment">
      <s:element name="CreateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Suburb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCNameOnCard" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CCExpiryMonth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CCExpiryYear" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eWAYHeader" type="tns:eWAYHeader" />
      <s:complexType name="eWAYHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="eWAYCustomerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="UpdateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="managedCustomerID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Suburb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCNameOnCard" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CCExpiryMonth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CCExpiryYear" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCustomerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="managedCustomerID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryCustomerResult" type="tns:CreditCard" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreditCard">
        <s:complexContent mixed="false">
          <s:extension base="tns:ManagedCustomer">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CCName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CCNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CCExpiryMonth" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CCExpiryYear" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ManagedCustomer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ManagedCustomerID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerJobDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerSuburb" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPostCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPhone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPhone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerFax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerComments" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryCustomerByReference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerReference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCustomerByReferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryCustomerByReferenceResult" type="tns:CreditCard" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="managedCustomerID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="invoiceReference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invoiceDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ewayResponse" nillable="true" type="tns:CCPaymentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CCPaymentResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ewayTrxnError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ewayTrxnStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ewayTrxnNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ewayReturnAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ewayAuthCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessPaymentWithCVN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="managedCustomerID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="invoiceReference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invoiceDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessPaymentWithCVNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ewayResponse" nillable="true" type="tns:CCPaymentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="managedCustomerID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryPaymentResult" type="tns:ArrayOfManagedTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfManagedTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ManagedTransaction" nillable="true" type="tns:ManagedTransaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ManagedTransaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ewayTrxnNumber" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="CreateCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCustomereWAYHeader">
    <wsdl:part name="eWAYHeader" element="tns:eWAYHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomereWAYHeader">
    <wsdl:part name="eWAYHeader" element="tns:eWAYHeader" />
  </wsdl:message>
  <wsdl:message name="QueryCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:QueryCustomer" />
  </wsdl:message>
  <wsdl:message name="QueryCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:QueryCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="QueryCustomereWAYHeader">
    <wsdl:part name="eWAYHeader" element="tns:eWAYHeader" />
  </wsdl:message>
  <wsdl:message name="QueryCustomerByReferenceSoapIn">
    <wsdl:part name="parameters" element="tns:QueryCustomerByReference" />
  </wsdl:message>
  <wsdl:message name="QueryCustomerByReferenceSoapOut">
    <wsdl:part name="parameters" element="tns:QueryCustomerByReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="QueryCustomerByReferenceeWAYHeader">
    <wsdl:part name="eWAYHeader" element="tns:eWAYHeader" />
  </wsdl:message>
  <wsdl:message name="ProcessPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessPayment" />
  </wsdl:message>
  <wsdl:message name="ProcessPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessPaymenteWAYHeader">
    <wsdl:part name="eWAYHeader" element="tns:eWAYHeader" />
  </wsdl:message>
  <wsdl:message name="ProcessPaymentWithCVNSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessPaymentWithCVN" />
  </wsdl:message>
  <wsdl:message name="ProcessPaymentWithCVNSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessPaymentWithCVNResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessPaymentWithCVNeWAYHeader">
    <wsdl:part name="eWAYHeader" element="tns:eWAYHeader" />
  </wsdl:message>
  <wsdl:message name="QueryPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:QueryPayment" />
  </wsdl:message>
  <wsdl:message name="QueryPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:QueryPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="QueryPaymenteWAYHeader">
    <wsdl:part name="eWAYHeader" element="tns:eWAYHeader" />
  </wsdl:message>
  <wsdl:portType name="managedCreditCardPaymentSoap">
    <wsdl:operation name="CreateCustomer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create a managed customer</wsdl:documentation>
      <wsdl:input message="tns:CreateCustomerSoapIn" />
      <wsdl:output message="tns:CreateCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update managed customer</wsdl:documentation>
      <wsdl:input message="tns:UpdateCustomerSoapIn" />
      <wsdl:output message="tns:UpdateCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryCustomer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query managed customer details</wsdl:documentation>
      <wsdl:input message="tns:QueryCustomerSoapIn" />
      <wsdl:output message="tns:QueryCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryCustomerByReference">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query managed customer by CustomerReference</wsdl:documentation>
      <wsdl:input message="tns:QueryCustomerByReferenceSoapIn" />
      <wsdl:output message="tns:QueryCustomerByReferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessPayment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Process payment</wsdl:documentation>
      <wsdl:input message="tns:ProcessPaymentSoapIn" />
      <wsdl:output message="tns:ProcessPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessPaymentWithCVN">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Process payment with CVN</wsdl:documentation>
      <wsdl:input message="tns:ProcessPaymentWithCVNSoapIn" />
      <wsdl:output message="tns:ProcessPaymentWithCVNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryPayment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query payment</wsdl:documentation>
      <wsdl:input message="tns:QueryPaymentSoapIn" />
      <wsdl:output message="tns:QueryPaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="managedCreditCardPaymentSoap" type="tns:managedCreditCardPaymentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="https://www.eway.com.au/gateway/managedpayment/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateCustomereWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="https://www.eway.com.au/gateway/managedpayment/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateCustomereWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCustomer">
      <soap:operation soapAction="https://www.eway.com.au/gateway/managedpayment/QueryCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryCustomereWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCustomerByReference">
      <soap:operation soapAction="https://www.eway.com.au/gateway/managedpayment/QueryCustomerByReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryCustomerByReferenceeWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessPayment">
      <soap:operation soapAction="https://www.eway.com.au/gateway/managedpayment/ProcessPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ProcessPaymenteWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessPaymentWithCVN">
      <soap:operation soapAction="https://www.eway.com.au/gateway/managedpayment/ProcessPaymentWithCVN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ProcessPaymentWithCVNeWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryPayment">
      <soap:operation soapAction="https://www.eway.com.au/gateway/managedpayment/QueryPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryPaymenteWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="managedCreditCardPaymentSoap12" type="tns:managedCreditCardPaymentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCustomer">
      <soap12:operation soapAction="https://www.eway.com.au/gateway/managedpayment/CreateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateCustomereWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap12:operation soapAction="https://www.eway.com.au/gateway/managedpayment/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateCustomereWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCustomer">
      <soap12:operation soapAction="https://www.eway.com.au/gateway/managedpayment/QueryCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryCustomereWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCustomerByReference">
      <soap12:operation soapAction="https://www.eway.com.au/gateway/managedpayment/QueryCustomerByReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryCustomerByReferenceeWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessPayment">
      <soap12:operation soapAction="https://www.eway.com.au/gateway/managedpayment/ProcessPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ProcessPaymenteWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessPaymentWithCVN">
      <soap12:operation soapAction="https://www.eway.com.au/gateway/managedpayment/ProcessPaymentWithCVN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ProcessPaymentWithCVNeWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryPayment">
      <soap12:operation soapAction="https://www.eway.com.au/gateway/managedpayment/QueryPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryPaymenteWAYHeader" part="eWAYHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="managedCreditCardPayment">
    <wsdl:port name="managedCreditCardPaymentSoap" binding="tns:managedCreditCardPaymentSoap">
      <soap:address location="https://www.eway.com.au/gateway/ManagedPaymentService/managedCreditCardPayment.asmx" />
    </wsdl:port>
    <wsdl:port name="managedCreditCardPaymentSoap12" binding="tns:managedCreditCardPaymentSoap12">
      <soap12:address location="https://www.eway.com.au/gateway/ManagedPaymentService/managedCreditCardPayment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>